name: Build Docker Container after Django Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test_django:
    uses: expertcloudconsulting/Django/.github/workflows/ci.yaml@main
  container_builder:
    runs-on: ubuntu-latest
    needs: [test_django]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build container image
        run: |
          docker build \
          -t shridhanr/django:${GITHUB_SHA::7} \
          -t shridhanr/django:latest \
          .
      - name: Push container image
        run: |
          docker login -u ${secrets.DOCKER_USERNAME} -p ${secrets.DOCKER_PASSWORD}
          docker push shridhanr/django:latest
